<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="Snel" value="C:\Users\ooffu\Desktop\AttractieControlPanel V3 11-5-2021\AttractieCommunicatie V3 12-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\kermis_snel.wav"/>
	  <add key="Start" value="C:\Users\ooffu\Desktop\AttractieControlPanel V3 11-5-2021\AttractieCommunicatie V3 12-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\kermis_start.wav"/>
	  <add key="Sneller" value="C:\Users\ooffu\Desktop\AttractieControlPanel V3 11-5-2021\AttractieCommunicatie V3 12-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\nogsneller.wav"/>
	  <add key="Turbo" value="C:\Users\ooffu\Desktop\AttractieControlPanel V3 11-5-2021\AttractieCommunicatie V3 12-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\turbo.wav"/>
	  <add key="Draaien" value="C:\Users\ooffu\Desktop\AttractieControlPanel V3 11-5-2021\AttractieCommunicatie V3 12-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\draaien.wav"/>
    </appSettings>
</configuration>