<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ConnectionString" value="Server=studmysql01.fhict.local;Uid=dbi479233;Database=dbi479233;Pwd=Ugb7I8lHcb;"/>
        <add key="Snel" value="C:\Users\ooffu\Documents\GitHub\AttractieControlPanel\AttractieCommunicatie V5 31-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\kermis_snel.wav" />
	    <add key="Start" value="C:\Users\ooffu\Documents\GitHub\AttractieControlPanel\AttractieCommunicatie V5 31-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\kermis_start.wav" />
	    <add key="Sneller" value="C:\Users\ooffu\Documents\GitHub\AttractieControlPanel\AttractieCommunicatie V5 31-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\nogsneller.wav" />
	    <add key="Turbo" value="C:\Users\ooffu\Documents\GitHub\AttractieControlPanel\AttractieCommunicatie V5 31-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\turbo.wav" />
	    <add key="Draaien" value="C:\Users\ooffu\Documents\GitHub\AttractieControlPanel\AttractieCommunicatie V5 31-5-2021\AttractieCommunicatie\AttractieCommunicatie\assets\draaien.wav" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>